@mixin linkmodified {
  text-decoration: none;
}
@mixin listmodified {
  list-style: none;
}
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 47.5em) {
      @content;
    }
  }
}
