$color-primary: #8046d3;
$color-primary-light: #f4e8ff;
$color-primary-dark: #d6c0f4a6;

$color-white: #fff;
$color-black: #0c0c0f;

$color-gray: #495057;
$color-gray-2: #f8f9fa;
$color-gray-3: #e9ecef;

$color-additional-1: #ff8787;
$color-additional-2: #8046d3;
$color-additional-3: #e64980;

$default-radius: 5px;
