.heading__guide {
  // width: 100%;
  border-bottom: 1px solid $color-gray-3;

  &--content {
    @include flex-centered;
    justify-content: space-between;
    max-width: 96rem;
    margin: 0 auto;
    padding: 1rem 1.6rem;
  }
}
/////////
.navigation__mobile {
  display: none;
}
.nav__btn--toggle {
  display: none;
}
////////
.navigation__logo {
  @include flex-centered;
  gap: 1rem;
  &--img {
    img {
      width: 3.2rem;
    }
  }
  &--text {
    font-size: 2rem;
    font-weight: 700;
    color: $color-black;
  }
}

.navigation__links {
  .nav__list {
    @include flex-centered;
    @include listmodified;
    // gap: 5rem;

    &--item {
      font-size: 1.2rem;
      font-weight: 700;

      &-link {
        &:link,
        &:visited {
          @include linkmodified;
          display: inline-block;
          padding: 1rem 1.5rem;
          color: $color-gray;
          border-radius: $default-radius;
        }
        &:hover,
        &:active {
          background-color: $color-gray-2;
        }
      }

      &-notify {
        position: relative;
        top: 0;
        left: 0;

        .alert--notification {
          @include flex-centered;

          position: absolute;
          top: 0;
          right: 0;
          min-width: 1.8rem;
          height: 1.8rem;
          font-size: 1.2rem;
          color: $color-white;
          font-weight: initial;
          text-align: center;
          background-color: $color-additional-1;
          border-radius: 100px;
          transform: translate(0.5rem, -0.25rem);

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            min-width: inherit;
            height: inherit;
            background-color: $color-additional-1;
            transform: scale(1);
            animation: fadeOut 1.5s ease forwards infinite;
            border-radius: inherit;
          }
        }
      }

      //Learn Option drop-down on hover
      &-hovered {
        .learn__option {
          display: block;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          width: 20rem;
          background-color: $color-white;
          border: 1px solid $color-gray-3;
          border-radius: $default-radius;
          transform: translateX(-8rem) translateY(-0.1rem);
          box-shadow: 0 0 1.5rem $color-gray-3;
          transition: 0.3s ease-in-out;

          .learn__list {
            @include listmodified;
            padding: 5px;

            &--option {
              font-size: 1.5rem;
              font-weight: 500;
              &-link {
                &:link,
                &:visited {
                  @include linkmodified;
                  display: block;
                  padding: 1.25rem 1rem;
                  color: $color-gray;
                  border-radius: $default-radius;
                }
                &:hover,
                &:active {
                  background-color: $color-gray-2;
                }
              }
            }
          }
        }
        &:hover {
          .learn__option {
            opacity: 1;
            visibility: visible;
            transform: translateX(-8rem) translateY(0);
          }
        }
      }
    }
  }
  @include respond(phone) {
    display: none;
  }
}
.navigation__cta {
  @include respond(phone) {
    display: none;
  }
}

//Mobile Navigation
.nav__btn--toggle {
  @include respond(phone) {
    display: block;
    // position: absolute;
    // top: 2rem;
    // right: 2rem;
  }
  .toggle__checker {
    display: none;
  }
  .btn-toggle {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      height: 0.18rem;
      width: 1.8rem;
      background-color: $color-gray;
    }

    // padding: 1rem;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem;
    }
    &::after {
      top: 0.5rem;
    }
  }
  .toggle__checker:checked + .btn-check .btn-toggle {
    & {
      background-color: transparent;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
  .navigation__mobile {
    @include respond(phone) {
      display: block;
    }
    .navigation__mobile--links {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      background-color: $color-white;
      border: 1px solid $color-gray-3;
      border-radius: $default-radius;
      box-shadow: 0 0 1.5rem $color-gray-3;
      transition: 0.2s ease-in-out;
      z-index: 1000;

      .nav__mob--list {
        @include listmodified;
        padding: 5px;

        &-item {
          font-size: 1.5rem;
          font-weight: 400;
          &-link {
            &:link,
            &:visited {
              @include linkmodified;
              display: block;
              padding: 1.25rem 1rem;
              color: $color-black;
              border-radius: $default-radius;
            }
            &:hover,
            &:active {
              background-color: $color-gray-2;
            }
          }
        }
      }
    }
  }

  .toggle__checker:checked ~ .navigation__mobile .navigation__mobile--links {
    opacity: 1;
    visibility: visible;
  }
}
