// STYLE Welcome description

.welcome__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &--textbox {
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: $color-gray;
  }
}
